 .sidebar {
      height: 100vh;
      background: #212529;
      color: #fff;
      position: fixed;
      width: 240px;
      top: 0;
      left: 0;
      padding-top: 20px;
    }
    .sidebar .nav-link {
      color: #adb5bd;
      font-weight: 500;
      padding: 12px 20px;
      border-radius: 8px;
      margin: 5px 10px;
    }
    .sidebar .nav-link:hover,
    .sidebar .nav-link.active {
      background: #dc3545;
      color: #fff;
    }
   body {
  font-family: "Poppins", sans-serif;
  background: #f8f9fa;
}
.main-content {
  margin-left: 240px;
  padding: 20px;
}
.card {
  border: none;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}
.navbar {
  border-radius: 12px;
}
.chart-box {
}